@charset "utf-8";
/* CSS Document */
body {
    padding:0;
    margin:0; margin-top:30px; background-color:#F6F5F0; float:inherit;
        }
        body, th, td {
            font-family: Verdana, Arial, sans-serif;
            font-size:10pt;
        }
        #menu,
        #menu ul {
            list-style-type:none;
            padding-left:0px;
        }
        #menu ul li {
            padding-left:40px;
        }
        #menu ul li.categ {
            padding-left:24px;
        }
        #submit_panel {
            text-align:center;
        }
        #submit_panel input {
            font-size:2em;
            width:200px;;
        }
        label {
            display:block;
            width: 150px;
        }
        tr {
            vertical-align:top;
        }
        .fail { 
            color: red; 
        } 
        .pass { 
            color: green; 
        } 
        pre { 
            background-color: lightgray; 
        }
        a img {
            border:none;
        }
#body_skin{
    width:1000px;
    margin:0 auto;
    background-color:#D1E1F8;
    padding-top:8px;
}
/*------------------------------------------------header stuff--------------------*/
#header{
    width:1000px;
    height:116px;
    margin:0 auto;
}
#header a.community{
    display:block; float:left;
    width:121px;
    height:22px; 
    padding:0;
    left:0px; text-align:center;
    font:bold 11px/23px Verdana, Arial, Helvetica, sans-serif;
    color:#097b5f;
    text-transform:uppercase;
    text-decoration:none;
}
